/* Design for my home page*/

/* FONTS: */

/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');





h1{
    font-family: 'Open', sans-serif;
    text-align: center;
    color:rgb(0, 0, 0);
    background-color: #faeae6;
}

p{
    font-family: 'Open', sans-serif;
    text-align: center;
    font-size: larger;
    color:rgb(0, 0, 0);
    background-color: #faeae6;
}


/* AREAS OF THE PAGE */

body{
    background-color: #faeae6;
}






/* BUTTONS */

.link{
    background-color: #faeae6;

    padding:10px;
    
    border:2px;
    border-color:grey;
    border-style: solid;
    border-radius: 10px;

    font-family: 'Open';
    
    color:rgb(0, 0, 0);
    text-decoration: none;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    border: 5px;
    border-color: black;
    border-style: solid;
    margin: auto;
}

.link:hover{

    background-color: #7a6a6a;

    border:2px;
    border-color:rgb(0, 0, 0);
    border-style: solid;
    
}



/*footer*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
 }   
 
 