/* This is the design for my project page */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');



/* Background design */ 

body{
  background-color:#faeae6;
  margin: 0;
  padding: 0;
}

  
/* Set the apperance of the class, chart */
.chart{
  align-items: center;
  justify-content: center;
  background-color: white;
  border-width: 5px;
  border-radius: 10px;
  border-style:solid;
  border-color: #7a6a6a;
  
}

.project{
  margin: auto;
  max-width: 600px;
  background-color: #faeae6;

}


/* FONTS: */



p.title {
  text-align: center;
  color:rgb(65, 48, 34);
  font-family: 'Noto', sans-serif;
  font-size: 2rem;
  padding: 0px;
  margin-bottom: 0px;
}


h3{
  color: rgb(65, 48, 34);
  font-family: 'Noto', sans-serif;
  text-align: center;
  font-size: 1.4rem;
}


p {
  align-items: center;
  text-align: left;
  color: rgb(106, 77, 77);
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-all;
  font-family: sans-serif;
  font-size: 1rem;
}



.leader{
  font-weight: 550;
}

/* Solid border */
hr.solid {
  border-top: 5px solid #7a6a6a;
  max-width: 750px;
}

.bold{
  font-weight: 950;
}



  /*NAVIGATION BAR*/
.topnav {
    position:relative;
    background-color: #7a6a6a;
    overflow: hidden;
    justify-items: right;
    border-bottom:1px solid white;
    font-family: 'Roboto', sans-serif;
    opacity: 100%;
    color:white;
  }
  

  .topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(226, 226, 226);
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }


/*charts */
#Chart26{
  margin-left: -20px;
}
#Chart27{
  margin-left: 60px;
}
#Chart28{
  margin-left: 50px;
}
#Chart29{
  margin-left: 50px;
}
#Chart30{
  margin-left: -10px;
}
#Chart31{
  margin-left: -10px;
}
#Chart32{
  margin-left: -30px;
}

